@baseFontSize: 12px;

@baseLineHeight: 24px;

@baseBgColor: #FAFAFA;
@baseFontColor: #444;

@linkColor: #2569b8;
@linkHoverColor: #4790b8;
@linkVisitedColor: #0c172f;

@iptBorderColor: #BBB;
@iptFocusColor: #ddf8ff;
@iptDisabledColor: #DDD;

@hrColor: #BBB;

@inlineCodeColor: #b63b2c;

@btnBgColor: #888;
@btnFontColor: #FAFAFA;
@btnHoverBgColor: #444;
@btnHoverFontColor: #FFF;

@btnGreenColor: #5bbd72;
@btnHoverGreenColor: #58CB73;

@btnBlueColor: #4092CC;
@btnHoverBlueColor: #399ADE;

@btnRedColor: #D34836;
@btnHoverRedColor: #E3432E;

@btnBlackColor: #444;
@btnHoverBlackColor: #383838;

@btnOrangeColor: #DF7514;
@btnHoverOrangeColor: #df8229;

@lineMenuHoverBgColor: #EAEAEA;
@lineMenuHoverFontColor: #444;

@menuBorderColor: #BBB;
@dropBorderColor: #BBB;
@menuShadowColor: #666;
@dropShadowColor: #666;
@menuDownBgColor: #FFF;
@dropDownBgColor: #FFF;

@panelBorderColor: #D6D6D6;
@panelHeaderBgColor: #EAEAEA;
@panelFooterBgColor: #EAEAEA;

@labelRedColor: #D34836;
@labelBlueColor: #4092cc;
@labelGreenColor: #5bbd72;
@labelOrangeColor: #DF7514;
@labelBlackColor: #444;
@labelFontColor: #FFF;
@labelGrayColor: #999;