@import "../ui/var";

@headerBgColor: #428BCA;
@headerLinkFontColor: #FFF;
@headerLinkHoverColor: #fff65f;
@headerLinkCurrentColor: #fff65f;
@headerSignOutColor: #ff908b;

@footerBorderColor: #D6D6D6;
@footerFontColor: #888;

@langNum: 2px;
// means 2 items

html, body {
  height: 100%;
}

.octicon,
.fa {
  width: 16px;
  text-align: center;
}

.fa {
  font-size: 14px;
}

.container {
  max-width: 1170px;
  padding: 0 1.5em;
  margin: auto;
}

img.avatar-30 {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

img.avatar-24 {
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

#wrapper {
  padding: 0;
  margin: 0 0 -60px 0;
  min-height: 100%;
}

#footer {
  height: 100px;
  width: 100%;
  .container {
    padding-top: 1.8em;
    border-top: 1px solid @footerBorderColor;
  }
  color: @footerFontColor;
}

#footer-links {
  > * {
    border-left: 1px solid @footerBorderColor;
    padding-left: 8px;
    margin-left: 5px;
    &:first-child {
      border-left: none;
    }
  }
}

#footer-lang {
  position: relative;
  .drop-down {
    top: -2-31*@langNum;
    left: -2px;
    position: absolute;
    height: -3+31*@langNum;
    z-index: 100;
    font-size: 12px;
    width: 150%;
    li > a {
      padding: 3px 9px;
    }
  }
}

#header {
  background-color: @headerBgColor;
  height: 44px;
  > .menu-line {
    > li > a {
      display: inline-block;
      &:hover {
        background-color: transparent;
        color: @headerLinkHoverColor;
      }
      color: @headerLinkFontColor;
    }
    > li.head {
      color: @headerLinkFontColor;
    }
    > li.hover a:after {
      bottom: -9px;
      color: @headerLinkFontColor;
    }
    > li.current > a {
      color: @headerLinkCurrentColor;
      font-weight: bold;
    }
  }
}

#header-nav-user {
  height: 44px;
  img {
    margin: -4px 10px 0 0;
  }
}

#header-nav-sign-out > a:hover {
  color: @headerSignOutColor !important;
}

#header-nav-logo {
  padding: 6px 1.2em;
}

#header-new-repo-menu {
  width: 180px;
  background-color: #FFF;
  top: 44px;
  border-top: none;
  .octicon {
    margin-right: 6px;
    font-size: 1.1em;
  }
  left: -66px;
}

.switching-list {
  width: 100%;
  list-style: none;
  > li {
    border-bottom: 1px solid #eaeaea;
    &:last-child {
      border-bottom: none;
    }
    > a {
      padding: .4em 1.2em;
      display: block;
      color: #444;
      &:hover {
        background-color: #428bca !important;
        color: #fff !important;
      }
    }
  }

}

.social-buttons {
  .btn {
    border: none;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 12px;
    font-family: 'PT Sans Narrow', sans-serif;
    padding: 5px 12px;
    color: #FFF;
    .fa {
      margin-right: 6px;
      font-size: 16px;
    }
  }
  .twitter {
    background-color: #1c6399;
    &:hover {
      background-color: #1c5487;
    }
  }
  .github {
    background-color: #444;
    &:hover {
      background-color: #333;
    }
  }
  .google {
    background-color: #C03D20;
    &:hover {
      background-color: #D56060;
    }
  }
  .weibo {
    background-color: #bf1324;
    &:hover {
      background-color: #b94c4a;
    }
  }
}